*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
 
}

html
{
    overflow-x: hidden;
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0rem 9%;
    background-color: rgba(214, 164, 142, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    
}
.navbar
{
    display: contents;
}
header .navbar a{
    font-family: 'Inder';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: black;
    text-decoration: none;
    
}
.search
{
    width: 206px;
    height: 29px;
    border: 1px solid #000000;
    border-radius: 50px;
    background-color: rgba(217, 217, 217, 0);
}
.btnwithicon
{
    height: 30px;
    width: 30px;
    background-color: rgba(217, 217, 217, 0);
    border: 0px;
}
.fa-sharp.fa-solid.fa-magnifying-glass.fa-xl, .fa-solid.fa-bag-shopping
{
    font-size: 25px;
}
.count.goods
{
    font-family: 'Inder';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
}


.home
{

    display: flex;
    align-items: center;
    background-position: center;
    padding: 5rem 9%;
    background-color: rgba(234, 220, 186, 1);
    
}
.column {
    float: left;
    width: 50%;
  }
  


.content
{
    width: 1123px;
    height: 700px;
    margin-top: 70px;
    display: table;
}

.column.col
{
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 700px;
}
.leap1
{
    position: absolute;
    width: 200px;
    height: 200px;
    left: 100px;
    top: 142px;
    mix-blend-mode: multiply;
}
.leap2
{
    position: absolute;
    width: 200px;
    height: 200px;
    left: 470px;
    top: 650px;
    mix-blend-mode: multiply;
}
.main.header
{
    width: 522px;
    height: 114px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 120%;
}
.secondary.header
{
    width: 522px;
    height: 80px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;

}
.btn.main.section
{
    background-color: black;
    width: 126px;
    height: 41px;
    color: white;
    border-radius: 50px;
   
}
.row.buttons
{
    padding-top: 20px;
}
.catalog, .about.us, .delivery.and.payment, .reviews
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: center;
    padding: 5rem 9%;
    background-color: rgba(234, 220, 186, 1);
}
.header.section
{
    width: 1075px;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 120%;
    padding-bottom: 50px;
}
.btn.main.show.section
{
    background-color: transparent;
    width: 126px;
    height: 41px;
    color: black;
    border-radius: 50px;
    text-align: center;
    margin: auto;
}
.row.elem
{
    width: max-content;
    
}
.card
{
    width: 300px;
    height: 450px;
    border: 1px solid black;
    background-color: transparent;
}
.card.image
{
    width: 225px;
    height: 245px;
    margin: 35px;
    border: 0px;
    background-color: white;
}
.card.title
{
    text-align: center;
    width: auto;
    height: 50px;
    border: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
    color: #000000;

}
.about.us.txt
{
    width: 478px;
height: 222px;


/* H2 */

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 37px;
line-height: 120%;
 color: black;

text-align: center;
}
.advantage.txt
{
    color: black;
    width: 347px;
height: 144px;


/* H3 */

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 29px;
line-height: 100%;
/* or 35px */

text-align: center;
}
.row.about
{
    width: 1130px;
}
.col.advantage
{
    text-align: center;
}
.advantage.img
{
    margin: 50px;
    mix-blend-mode: multiply;
}
.sign.img
{
    width: 177px;
    height: 124px;
    mix-blend-mode: color-burn;
}
.col.delivery
{
    width: 236px;
    height: 242px;
    border: 1px solid black;
}
.number
{
    height: 70px;
    margin: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 120%;
    text-align: center;
    color: #000000;

}
.txt.delivery
{
 

    height: 88px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 120%;
    text-align: center;
    color: #000000;
}
.container1
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 50px;
}
.person.img
{
    width: 100px;
    height: 100px;
    margin: 20px;
    mix-blend-mode: multiply;
    text-align: center;
}
.person.name
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 120%;
    text-align: center;
    color: #000000;
}
.review.txt
{


    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
     text-align: center;
    color: #000000;
}
.col.review
{
    width: 250px;
    height: 300px;
    border: 1px solid #000000;
    text-align: center;
}
.review.header
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 120%;
    width: 1100px;
    color: #000000;
}
.name.label.review
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 120%;
    padding: 0px;
    color: #000000;
}
.name.input
{
    width: 536px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 50px;
    border:0px solid white;
}
.review.input
{
    width: 536px;
    height: 90px;
    background: #FFFFFF;
    border:0px solid white;
    border-radius: 20px;
}
.col.of.input
{
    width: 1100px;
    
}
.leap3
{
    width: 120px;
    height: 120px;
    margin-left: 600px;
    mix-blend-mode: multiply;
}
footer
{
    padding: 0rem 9%;
    background-color: rgba(214, 164, 142, 1);
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.logofooter
{
    width: 132px;
    height: 67px;
    display: block;
    margin: 25px;
    color: black;
}
footer a
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 120%;
    text-decoration: none;
    height: 29px;
    color: #000000;
}
.fa-brands.fa-instagram, .fa-brands.fa-facebook, .fa-brands.fa-whatsapp
{
   font-size: 25px;
}
.copyright
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
     line-height: 120%;
     text-align: center;
    color: #000000;
}
.row.of.logo
{
    display: flex;
    justify-content: center;
}
.page.name
{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 23px;
line-height: 120%;
padding: 12px;
/* or 28px */


color: #000000;
}
.catalog.page
{
    display: flex;
    flex-direction: column;
    
    padding: 5rem 9%;
    background-color: rgba(234, 220, 186, 1);
}
.col-xs-10.col-sm-2.filter
{
    width: 356px;
    height: 456px;
    border: 1px solid black;
}
.filter.txt
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    margin-top: 5px;
    font-size: 29px;
    line-height: 120%;
    color: #000000;
}
hr
{
    margin: 0px;
}
name.of.filter
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 120%;
    color: #000000;
}

.price-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  

  

  
  .range-slider {
    width: 256px;
    position: relative;

  }
  
  input[type=range] {
    -webkit-appearance: none;
    background: transparent; 
    position: absolute;
    width: 250px;
    left: 0;
  }
  
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
    margin-top: -5px;
    position: relative;
    z-index: 1;
  }
  
  input[type=range]::-webkit-slider-runnable-track {
    width: 250px;
    height: 5px;
    background: white;
    border: 1px solid black;
  }
label.container
{
    padding: 0px;
}

.catalog.card
{
    height: 225px;
    width: 160px;
    padding: 0px;
}
.goods.elem
{
    width: 100px;
    height: 100px;
    margin-top: 25px;
    margin-bottom: 20px;
}
.product.info
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: #000000;
}
.row.additional
{
    margin-top: 15px;
}
.col.price
{
    margin: auto;
}
.row.of.catal
{
    width: 1110px;
}


.about.page, .delivery.page, .contact.page, .product.page, .shoping.bag.page
{
    display: flex;
    flex-direction: column;
    padding: 5rem 9%;
    background-color: rgba(234, 220, 186, 1);
}
.about.header.txt, .delivery.header.txt
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 37px;
    line-height: 120%;
    width: 576px;
height: 53px;
color: #000000;
}
.about.txt.page
{
    width: 544px;
height: 122px;
padding: 0px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 19px;
line-height: 120%;
/* or 23px */


color: #000000;
}
.aboutimg
{
    width: 330px;
    height: 300px;
   
}
.col.aditionalimg
{
    display: block;
    margin: auto;
    mix-blend-mode: multiply;
}
.deliveryimg
{
    width: 415px;
height: 384px;
}
.delivery.txt.page
{
    width: 561px;
    height: 158px;
    padding: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 120%;
    text-align: start;
}
.sign.img.del
{
    width: 177px;
    height: 124px;
    mix-blend-mode: color-burn;
}


.name.container.contact
{
    width: 285px;
    height: 66px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 120%;
    padding: 20px;
    
    text-align: center;
    
    color: #000000;
    
}
.fa-solid.fa-phone
{
    font-size: 30px;
    margin: auto;
}
.fa-solid.fa-calendar-days, .fa-solid.fa-xmark
{
    font-size: 30px;
}
.fa-solid.fa-location-dot
{
    font-size: 30px;
    padding: 40px;
}
.col.contact {
    float: left;
    width: 288px;

    padding: 0 10px;
  }
 
  
  

  .card.contact.element {
   border: 1px solid black;
    height: 350px;
    text-align: center;
    
  }
  
  .txt.container.contact
  {
      width: 285px;
      height: 66px;
      
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 29px;
      line-height: 120%;

      text-align: center;
      
      color: #000000;
      
  }
.product.name
{
    width: 428px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 120%;

color: #000000;

}
.row.photo
{
    width: 290px;
    padding-top: 10px;
}
.product.price
{
    width: 124px;
height: 44px;

/* H2 */

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 27px;
line-height: 120%;
/* or 44px */


color: #000000;
}
.btn.volume
{

    background-color: transparent;
    text-align: center;
    border: 1px solid black;
    color: black;
}
.product.main.txt
{
    width: 300px;
height: 135px;


/* Title 1 */

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 120%;
/* or 18px */


color: #000000;
}
.btn.buy
{
    background-color: black;
    color: white;
}
.lp
{
    height: 225px;
    width: 104px;
    mix-blend-mode: multiply;
}
.row.bag
{
    border: 1px solid black;
    height: 150px;
    margin: 0px;
}
.btn.order
{
    background-color: black;
    color: white;
    width: 276px;
height: 31px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
margin: 0;
gap: 10px;

}
.bag.photo
{
    padding: 20px;
}
.bag.name.product
{
    margin: auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
}
.col.elem.bag
{
    margin: auto;
}
.increm
{
    background-color: white;
    color: black;
    text-align: center;
    width: 30px;
    height: 30px;
}